{% extends "base.html" %}
{% block content %}
<style>


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
h1 {
    font-family: 'Permanent Marker', cursive;
	color: #7d7a00;
	background-color:#a442a0;
}

p {
	font-family: 'Permanent Marker', cursive;
	color: #7d7a00;
	background-color:#a442a0;
}
b {
	color: #7d7a00;
	background-color:#a442a0;
	font-family: 'Permanent Marker', cursive;
}
</style>
<h1>Welcome to CoDe-chan!</h1>
    <div class="fullscreen-bg">
    <video loop autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="http://34.77.12.60/video.webm" type="video/webm">
    </video>
	</div>
    {% for post in posts %}
    <div><p><b>{{ post.title }}</b> by <i>{{ post.user_name }}</i> <br />
        {{ post.body }}</p>
    </div>
    {% endfor %}
    <hr>
    Write your post here: <br />
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        
        {{ form.user_name(size=30, maxlength=140) }}<br />
        {{ form.title(size=30, maxlength=140) }}<br />
        {{ form.body(size=30, maxlength=140) }}<br />
        <br />
        <input type="submit" value="Post!"></br>
    </form>
{% endblock %}
